.link-a a{
  text-decoration: none;
}

@media (max-width: 576px) {
    .card {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
  
  @media (min-width: 992px) {
    .card {
      font-size: 1rem;
    }
  }
  