
<h5 class="container">Person Details Table</h5>
<table class="table table-success table-striped" >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">Phone</th>
        <th scope="col">Company Name</th>
        <th scope="col">Pine</th>

      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let person of allperson">
        <td>{{person.id}} </td>
        <td>{{person.name}}</td>
        <td>{{person.email}}</td>
        <td>{{person.address.city}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.company.name}}</td>
        <td>{{person.address.zipcode}}</td>
      </tr>      
    </tbody>
  </table>